@charset "UTF-8";
/* mobile desing */
.contNav {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% auto;
  grid-template-areas: "inicio compañias contactanos" "info coberturas acercade";
  jUstify-items: start;
  align-items: center; }

.contNav--incio {
  grid-area: inicio; }

.contNav--info {
  grid-area: info; }

.contNav--compa {
  grid-area: compañias; }

.contNav--contactanos {
  grid-area: contactanos; }

.contNav--coberturas {
  grid-area: coberturas; }

.contNav--acercaDe {
  grid-area: acercade;
  align-self: stretch;
  justify-self: center; }

@media only screen and (min-width: 768px) {
  .gridPadre {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto auto auto auto 10%;
    grid-template-areas: "nav nav" "logo logo" "yo yo" "yo yo" "pie pie"; }
  .gridPadre nav.container-fluid {
    grid-area: nav; }
  .gridPadre .encabezado {
    grid-area: logo;
    justify-self: center; }
  .gridPadre .informacion {
    grid-area: yo; }
  .gridPadre .pieDepagina {
    grid-area: pie; }
  .contNav {
    display: grid;
    grid-template-columns: 128px 128px 128px 128px 128px 128px;
    grid-template-rows: 50px;
    grid-template-areas: "inicio info compañias contactanos coberturas acercade";
    justify-items: start;
    align-items: center; }
  .contNav--incio {
    grid-area: inicio; }
  .contNav--info {
    grid-area: info; }
  .contNav--compa {
    grid-area: compañias; }
  .contNav--contactanos {
    grid-area: contactanos; }
  .contNav--coberturas {
    grid-area: coberturas; }
  .contNav--acercaDe {
    grid-area: acercade;
    text-decoration: none;
    justify-self: end;
    font-size: smaller;
    font-weight: bolder;
    align-self: center; } }

@media only screen and (min-width: 1024px) {
  .gridPadre {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto auto auto 9%;
    grid-template-areas: "nav nav nav nav nav" "log log log log log" "yo yo yo yo yo" "pie pie pie pie pie"; }
  .gridPadre nav.container-fluid {
    grid-area: nav; }
  .gridPadre .encabezado {
    grid-area: log; }
  .gridPadre .informacion {
    grid-area: yo; }
  .gridPadre .pieDepagina {
    grid-area: pie; }
  .contNav {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 120px;
    grid-template-rows: 50px;
    grid-template-areas: "inicio info compañias contactanos coberturas  no  acercade";
    font-style: italic;
    list-style-type: none;
    text-decoration: none;
    jUstify-items: start;
    align-items: center; }
  .contNav #incio {
    grid-area: inicio;
    text-decoration: none; }
  .contNav #info {
    grid-area: info;
    text-decoration: none; }
  .contNav #compa {
    grid-area: compañias;
    text-decoration: none; }
  .contNav #contactanos {
    grid-area: contactanos;
    text-decoration: none; }
  .contNav #coberturas {
    grid-area: coberturas;
    text-decoration: none; }
  .contNav #acercaDe {
    grid-area: acercade;
    text-decoration: none;
    justify-self: end;
    font-size: smaller;
    font-weight: bolder;
    align-self: center; }
  .gridForm {
    display: grid;
    grid-template-rows: auto 12% auto auto;
    grid-template-columns: 50% 50%;
    grid-template-areas: "nav nav" "tituform tituform" "formu log" "pie pie"; }
  .formulario {
    grid-area: formu; }
  nav.container-fluid {
    grid-area: nav; }
  .imagenesContacto {
    grid-area: log;
    justify-self: center;
    align-self: center; }
  .tituloForm {
    grid-area: tituform; }
  .pieDepagina {
    grid-area: pie; } }

@media only screen and (min-width: 1440px) {
  .gridPadre {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 5.5% auto auto 9%;
    grid-template-areas: "nav nav nav nav nav" "log log log log log" "yo yo yo yo yo" "pie pie pie pie pie"; }
  .gridForm {
    display: grid;
    grid-template-rows: 7% 12% auto 11%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "nav nav" "tituform tituform" "formu log" "pie pie"; }
  nav.container-fluid {
    grid-area: nav; } }

.informacion {
  display: flex;
  flex-direction: column; }

h2 {
  display: flex;
  align-content: center;
  justify-content: center; }

.container .contenedorCompa {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-evenly;
  align-self: center; }

.container.contenedorCompa .card {
  flex-wrap: wrap;
  align-content: space-evenly;
  align-self: center;
  justify-self: center; }

.card.mb-3.informacion.container {
  justify-self: center; }

.col-md-4.container {
  display: flex;
  justify-content: center;
  align-content: center; }

.pieDepagina {
  display: flex;
  flex-direction: column;
  align-items: center; }

.pieDepagina__medios {
  margin-top: 1rem; }

.juridical-logos {
  margin-top: 1rem; }

/* ACA COMIENZA PARA TABLETS */
@media only screen and (min-width: 768px) {
  .informacion {
    display: flex;
    flex-direction: row;
    padding: 0%;
    width: 100%; }
  h2 {
    display: flex;
    align-content: center;
    justify-content: center; }
  .contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-between; }
  .container.contenedorCompa {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-evenly; }
  .container.contenedorCompa .card {
    flex-wrap: wrap;
    align-content: space-evenly; }
  .pieDepagina {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center; }
  .pieDepagina__medios {
    align-self: center; }
  .juridical-logos {
    align-self: center; } }

@media only screen and (min-width: 1024px) {
  .contenedorVida {
    display: flex;
    flex-direction: column; }
  .card.mb-3 {
    display: flex;
    justify-self: center;
    align-self: center; } }

body {
  background-color: #232443; }

nav footer {
  background-color: #000000; }

#borrar {
  background-color: #000000; }

.navbar {
  background-color: #000000;
  color: white; }

.navbar-light .navbar-brand {
  color: white; }

.navbar-light .navbar-toggler-icon {
  background-image: url(../IMG/menuDorado.png);
  background-color: #000000; }

.offcanvas {
  background-color: #000000; }

.offcanvas-body ul.navbar-nav.justify-content-end.flex-grow-1.pe-3 li a {
  color: white; }

.dropdown-menu.show {
  background-color: #000000; }

.offcanvas-header .btn-close {
  background-color: #c29127; }

hr {
  background-color: #c29127; }

#button-acercaDemi {
  background-color: #c29127;
  width: 7rem;
  border-radius: 5%; }

.contNav {
  border: lightsteelblue;
  background-color: #000000; }

.contNav__li a {
  color: white; }

.contNav__li a:hover {
  background-color: #c29127; }

.contNav--acercaDe {
  background-color: #c29127;
  color: white; }

.contNav .contNav__men {
  color: #3237ad;
  background-color: #000000; }

.contNav .contNav__men .contNav__men--cat {
  background-color: #000000;
  color: white; }

.contNav .contNav__li:hover .contNav__men {
  color: white;
  background-color: #000000; }

.informacion {
  background-color: #232443; }

.card.mb-3.informacion.container {
  border-color: #c29127; }

.pieDepagina {
  background-color: #000000;
  color: #3237ad; }

.container.contenedorCompa .card {
  background-color: bisque; }

.gridPadre {
  background-color: #232443; }

.gridPadre .informacion {
  background-color: #232443;
  color: white; }

.gridPadre .pieDepagina {
  background-color: #000000; }

.contNav {
  background-color: #000000;
  color: bisque;
  border: lightsteelblue; }

.contNav #acercaDe {
  background-color: #c29127; }

.formulario {
  color: #26083b;
  background-color: #232443; }

.tituloForm {
  background-color: #232443;
  color: white; }

h3 {
  color: black; }

h2 {
  color: white; }

.card.mb-3 {
  background-color: #232443;
  color: white;
  border-color: #c29127; }

.card.mb-3 {
  border-color: #c29127; }

.contenedor__Titulos {
  color: white; }

.informacion__titulo {
  color: white; }

.contenedor__subtitulos {
  color: white; }

.compa__titulos {
  color: white; }

.container.contenedorCompa .card {
  background-color: #232443;
  border-color: #c29127; }

.compa__textos {
  color: white; }

h5.card-title {
  color: white; }

.form-label {
  color: white; }

.btn-primary {
  background-color: #c29127;
  color: white; }

.activo {
  background-color: #c29127 !important; }

body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  height: 100%;
  width: 100%; }

nav {
  width: 100%;
  margin: 0%;
  padding: 0%; }

nav.container-fluid {
  padding: 0;
  margin: 0; }

h2 {
  margin: 1rem; }

h3 {
  margin: 1rem; }

.mb-3 {
  margin: 1rem; }

.card.mb-3 {
  margin: 1rem;
  padding: 1rem; }

h1 {
  margin: 1rem; }

#sobreMi {
  width: 25rem;
  padding: 1rem; }

.container.formulario {
  padding: 0; }

ul.contNav {
  margin: 0;
  padding: 0%; }

.contNav__li a {
  padding: 14px 16px;
  position: relative; }

.contNav--acercaDe {
  font-size: smaller;
  font-weight: bolder;
  overflow: auto; }

.contNav .contNav__men {
  position: absolute;
  display: none;
  z-index: 1000000000000000;
  border: none; }

.contNav .contNav__men .contNav__men--cat {
  display: block; }

.contNav .contNav__li:hover .contNav__men {
  display: block;
  width: 20rem; }

.encabezado {
  width: 100%; }

.encabezado__image.img-fluid.container-fluid {
  padding: 0%; }

.card.mb-3.informacion.container {
  margin-top: 1rem;
  padding: 0%; }

.card-body {
  padding: 0.5rem 0.5rem;
  padding-right: 0%; }

.col-md-4.container {
  display: flex;
  align-content: center; }

.informacion {
  margin: 0%; }

.informacion_foto {
  height: 15rem; }

.container-fluid.pieDepagina {
  padding: 0%; }

.pieDepagina {
  margin: 0;
  padding: 1rem !important; }

#ssnLogo {
  width: 20rem;
  height: 6rem; }

.pieDepagina__redes {
  width: 2rem;
  height: 2rem; }

.pieDepagina__medios {
  list-style: none;
  display: inline-flex; }

.formulario {
  margin-bottom: 1rem; }

.btn-primary {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.imagenesContacto {
  margin-bottom: 1rem; }

.container.contenedorCompa .card {
  margin-top: 1rem;
  width: 18rem;
  margin-bottom: 1rem; }

hr {
  margin: 0; }

.col-sm-3 {
  margin: 1rem; }

@media only screen and (min-width: 768px) {
  .formulario {
    margin-left: 0.5rem; }
  .card.mb-3 {
    margin: 3rem; }
  h1 {
    margin: 2rem; }
  .btn-primary {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .form-select {
    width: 10rem; }
  .container.contenedorCompa .card {
    margin-top: 1rem;
    width: 18rem; }
  .informacion {
    padding: 0%;
    width: 100%; }
  .row {
    flex-wrap: nowrap; }
  #sobreMi {
    width: 60rem; }
  .gridPadre .pieDepagina {
    width: 100%;
    padding: 1rem; }
  #ssnLogo {
    width: 20rem;
    height: 4rem; }
  .contNav {
    width: 100%;
    padding: 0%; } }

@media only screen and (min-width: 1024px) {
  .gridPadre .contNav {
    height: 50px;
    width: 100%;
    margin: 0; }
  .gridPadre .pieDepagina {
    height: 5rem;
    margin-bottom: 0%;
    width: 100%;
    padding: 1rem; }
  .contNav {
    margin-left: auto;
    margin-right: auto;
    width: 100%; }
  .card.mb-3.informacion.container {
    width: 120rem; }
  .informacion__texto {
    font-size: 1.3rem; }
  .informacion__titulo {
    font-size: 3rem;
    font-weight: bold; }
  .formulario {
    margin-right: 0%; }
  h1 {
    font-size: 4rem; }
  .card.mb-3 {
    width: 50rem;
    font-size: 1.5rem; }
  h5.card-title {
    font-size: 2rem;
    font-weight: bold; }
  h2 {
    font-size: 5rem;
    margin-top: 1rem; }
  .contenedor__Titulos {
    font-size: 3rem;
    font-weight: bold; }
  .contenedor__subtitulos {
    font-size: 1.5rem;
    font-weight: 900; }
  .imagenesContacto {
    margin-bottom: 0%; }
  .imagenenesContacto__carrusel {
    height: 30rem;
    width: 30rem !important;
    margin-left: 9rem; }
  #ssnLogo {
    width: 30rem;
    height: 6rem; } }

@media only screen and (min-width: 1440px) {
  #sobreMi {
    width: 80rem; }
  ul.contNav {
    width: 100%; } }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.informacion__titulo {
  animation-duration: 5s;
  animation-name: aparecer; }

h2 {
  animation-duration: 5s;
  animation-name: aparecer; }

h1 {
  animation-duration: 5s;
  animation-name: aparecer; }

.formulario {
  animation-duration: 3s;
  animation-name: aparecer; }

.informacion {
  animation-duration: 5s;
  animation-name: aparecer; }

#redesNav {
  transform: translate(50px, 200px); }

@media only screen and (min-width: 768px) {
  .container.contenedorCompa .card:hover {
    transform: scale(1.2, 1.2); }
  .contNav--acercaDe {
    transform: translate(-15px); } }

@media only screen and (min-width: 1440px) {
  .contNav--acercaDe {
    transform: translate(400px); } }

nav.container-fluid {
  display: none; }

.fixed-top {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

@media only screen and (min-width: 768px) {
  .navbar {
    display: none; }
  nav.container-fluid {
    display: grid; } }

* {
  padding: 0;
  margin: 0; }

/* mobile desing */
.contNav {
  list-style-type: none;
  text-decoration: none; }

.contNav__li a {
  text-decoration: none; }
