body{background-color: $fondo;}

nav footer {background-color: $pieynav;}

#borrar{background-color: $pieynav;}

.navbar{background-color: $pieynav;
    color: white;}
    
.navbar-light .navbar-brand {
    color:white}

.navbar-light .navbar-toggler-icon{background-image: url(../IMG/menuDorado.png);
    background-color: $pieynav;}

.offcanvas {background-color: $pieynav;}

.offcanvas-body ul.navbar-nav.justify-content-end.flex-grow-1.pe-3 li a{color: white;}

.dropdown-menu.show{background-color: $pieynav;}

.offcanvas-header .btn-close{background-color: $bordes;}

hr{background-color: $bordes;}

#button-acercaDemi{background-color: $bordes;
    width: 7rem;
    border-radius: 5%;}

.contNav {
    border:lightsteelblue;
    background-color: $pieynav}

.contNav__li a {color: white;}

.contNav__li a:hover {background-color: $bordes;
border-radius: 70%;}

.contNav--acercaDe {background-color:$bordes;
color: white;}

.contNav .contNav__men {
    color: $letras;
    background-color: $pieynav}

.contNav .contNav__men .contNav__men--cat{background-color: $pieynav;
color: white;} 

.contNav .contNav__li:hover .contNav__men {color: white;
    background-color: $pieynav;}
    
.informacion{background-color: $fondo;}

.card.mb-3.informacion.container {border-color: $bordes;}

.pieDepagina{background-color: $pieynav;
color:$letras;}

.container.contenedorCompa .card{background-color:bisque;}

.gridPadre {background-color:$fondo;} 


      
.gridPadre .informacion{background-color: $fondo;
    color: white;}
      
.gridPadre .pieDepagina{background-color: $pieynav;}
        
.contNav {background-color: $pieynav;
    color: bisque;
    border:lightsteelblue;}

.contNav #acercaDe{background-color:$bordes;}

.formulario {color: rgb(38, 8, 59);
    background-color: $fondo;}

.tituloForm {background-color: $fondo;
    color: white;}

h3{color: black;}

h2{color: white;}


.card.mb-3{background-color: $fondo;
    color: white;
    border-color: $bordes;}

.card.mb-3{border-color:$bordes ;}

.contenedor__Titulos {color: white;}

.informacion__titulo {color: white;}

.contenedor__subtitulos {color: white;}

.compa__titulos{color: white;}

.container.contenedorCompa .card {background-color: $fondo;
border-color:$bordes ;}

.compa__textos {color: white; }

h5.card-title{color: white;}

.form-label{color: white;}

.btn-primary{background-color: $bordes;
    color: white;}