.informacion{display: flex;
    flex-direction: column;}

h2{display: flex;
    align-content: center;
    justify-content: center;}

.container .contenedorCompa{display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-evenly;
    align-self:center;}
            
.container.contenedorCompa .card{flex-wrap: wrap;
    align-content: space-evenly;
    align-self: center;
    justify-self: center;}

.card.mb-3.informacion.container{justify-self: center;}

.col-md-4.container {
    display: flex;
    justify-content: center;
    align-content: center;}

.pieDepagina{display: flex;
    flex-direction: column;
    align-items: center;}

.pieDepagina__medios{margin-top: 1rem;}

.juridical-logos{margin-top: 1rem;}






    /* ACA COMIENZA PARA TABLETS */

@media only screen and (min-width: 768px){

.informacion{display: flex;
    flex-direction:row;
    padding: 0%;
    width: 100%;}

h2  {display: flex;
    align-content: center;
    justify-content: center;}


.contenedor {display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-between;}


.container.contenedorCompa{display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-evenly;}
        
.container.contenedorCompa .card{flex-wrap: wrap;
    align-content: space-evenly;}

.pieDepagina{display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;}
    
.pieDepagina__medios{align-self: center;}
    
.juridical-logos{align-self: center;}

}
@media only screen and (min-width: 1024px){


.contenedorVida{display: flex;
flex-direction: column;}

.card.mb-3{display: flex;
    justify-self: center;
    align-self: center;}







}