@import "grids";
@import "flexbox";
@import "variables";
@import "colores";
@import "box-modeling";
@import "animaciones";
@import "navMobile";


*{padding: 0;
margin: 0;}

/* mobile desing */


.contNav {
    list-style-type: none;
    text-decoration: none;}


    .contNav__li a {text-decoration: none;}

    